<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1><%= @poll.question %></h1>
            <%= form_for @vote do |f| %>
              Tak <%= radio_button("Vote", "choice", 1) %>
              Nie <%= radio_button("Vote", "choice", 0) %>
              <%= hidden_field(:poll, :id) %>
              <%= f.submit 'Wyślij głos' %>
            <% end %>

        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
